<div class="cost-estimator">
  <p><strong>Estimate the construction cost instantly</strong></p>
  <div class="ets_cf_col_item ets_cf_col_6">
    <div class="ets_cf_form_group">
      <label class="ets_cf_form_label required" data-key="text">Email</label>
      <input
        type="text"
        data-required="true"
        data-validate="isString"
        autocomplete="off"
        class="ets_cf_form_control"
        name="text-6"
        id="cost-estimator-email"
      >
    </div>
  </div>
  <div class="ets_cf_col_item ets_cf_col_6">
    <div class="ets_cf_form_group">
      <label class="ets_cf_form_label required" data-key="text">Zipcode</label>
      <input
        type="text"
        data-required="true"
        autocomplete="off"
        class="ets_cf_form_control"
        name="text-6"
        id="cost-estimator-zipcode"
      >
    </div>
  </div>
  <div class="ets_cf_col_item ets_cf_col_12">
    <div class="ets_cf_form_group">
      <label class="ets_cf_form_label required" data-key="text">Finish Level</label>
      <Select id="cost-estimator-quality" class="ets_cf_form_control">
        <Option value="1">Lowest Quality</Option>
        <Option value="2">Lower Quality</Option>
        <Option value="3" selected>Good Quality</Option>
        <Option value="4">Great Quality</Option>
        <Option value="5">Amazing Quality</Option>
      </Select>
    </div>
  </div>
  <div class="ets_cf_col_item ets_cf_col_12">
    <div class="ets_cf_form_group">
      <label class="ets_cf_form_label required" data-key="text">Include finished Basement</label>
      <Select id="cost-estimator-basement" class="ets_cf_form_control">
        <Option value="1">Yes</Option>
        <Option value="0">No</Option>
      </Select>
    </div>
  </div>
  <!--       style="background-color:#1ABAF2;" -->
  <div class="ets_cf_content_footer ets_cf_submit_undefined">
    <button
      type="submit"

      onclick="fetch_estimation()"
      disabled
      class="ets_cf_btn ets_cf_btn_submit ets_cf_btn_label_icon"
    >
      <i class="ets_cf_icon">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
          <path d="M476 3.2L12.5 270.6c-18.1 10.4-15.8 35.6 2.2 43.2L121 358.4l287.3-253.2c5.5-4.9 13.3 2.6 8.6 8.3L176 407v80.5c0 23.6 28.5 32.9 42.5 15.8L282 426l124.6 52.2c14.2 6 30.4-2.9 33-18.2l72-432C515 7.8 493.3-6.8 476 3.2z"></path>
        </svg>
      </i>
      Get Your Free Estimation <strong>(Coming Soon)</strong
    </button>
  </div>
  <div id="cost-estimator-results"></div>
</div>

<script>
  var cost_estimator_data = {
    first_floor: "{{product.metafields.my_fields.new_first_floor}}",
    second_floor: "{{product.metafields.my_fields.second_floor}}",
    third_floor: "{{product.metafields.my_fields.third_floor}}",
    garage: "{{product.metafields.my_fields.garage}}",
    baths: "{{product.metafields.my_fields.bathrooms}}",
    half_baths: "{{product.metafields.my_fields.half_baths}}",
    plan: "{{product.title}}",
    url: "{{ product.url }}"
  }

  function fetch_estimation(){
    var holder = document.getElementById('cost-estimator-results');

    var zipcode = document.getElementById('cost-estimator-zipcode').value;
    var basement = document.getElementById('cost-estimator-basement').value;
    var quality = document.getElementById('cost-estimator-quality').value;
    var email = document.getElementById('cost-estimator-email').value;

    cost_estimator_data["zipcode"] = zipcode
    cost_estimator_data["finishing_class"] = quality
    cost_estimator_data["basement"] = basement
    cost_estimator_data["email"] = email

    fetch('https://auto.garrellassociates.com/estimator/?' + new URLSearchParams(cost_estimator_data)).then((response) => response.text()).then(function(response){
      holder.textContent = response;
      holder.style.display = "block";
    })
  }
</script>

<style>
    .cost-estimator {
      margin-bottom:10px;
      padding:10px;
    }
    .cost-estimator input, .cost-estimator select {
      border-radius: 1px;
      border: 1px solid #d1d1d1 !important;
      text-align: left;
      font-size: 14px!important;
      font-weight: normal;
      width: 100%;
      padding-left: 15px;
      padding: 10px;
      background-color:white !important;
      font-family: tahoma;
  }

  .cost-estimator button {
      border: none;
    }

  .cost-estimator select {
      height:47px;
  }

  #cost-estimator-results {
    background-color: white;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 1px;
    border-radius: 0px;
    font-size:1.5em;
    display: none;
  }

  #cost-estimator-results:before {
    content: "YOUR FREE ESTIMATION ";
    font-size:14px;
    display:block;
  }
</style>
