<section
  class="testimonial-section"
  style=" background: {{ section.settings.Section_Background }}; padding: {{ section.settings.Section_padding_top }}px 0 {{ section.settings.Section_padding_bottom }}px 0; "
>
  <div class="container">
    <div class="row heading_row">
      <div class="col-md-12">
        <div class="banner_image text-center">
          <svg width="313" height="56" viewBox="0 0 313 56" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M24.7881 9.2434C26.3613 5.3258 27.1479 3.36699 28.5 3.36699C29.8521 3.36699 30.6387 5.32579 32.2119 9.2434L34.8057 15.7025C35.2607 16.8355 35.4882 17.402 35.954 17.7405C36.4198 18.0789 37.0289 18.1202 38.247 18.2028L45.1916 18.6737C49.4036 18.9593 51.5096 19.1021 51.9274 20.388C52.3452 21.6739 50.7253 23.0273 47.4856 25.7341L42.1441 30.197C41.2072 30.9798 40.7387 31.3712 40.5608 31.9188C40.3829 32.4664 40.5318 33.0584 40.8297 34.2424L42.5278 40.9926C43.5578 45.0867 44.0728 47.1338 42.9789 47.9285C41.8851 48.7233 40.0973 47.6009 36.5219 45.3562L30.6268 41.6552C29.5928 41.0061 29.0758 40.6815 28.5 40.6815C27.9242 40.6815 27.4072 41.0061 26.3732 41.6552L20.4781 45.3562C16.9027 47.6009 15.1149 48.7233 14.0211 47.9285C12.9272 47.1338 13.4422 45.0867 14.4722 40.9926L16.1703 34.2424C16.4682 33.0584 16.6171 32.4664 16.4392 31.9188C16.2613 31.3712 15.7928 30.9798 14.8559 30.197L9.51437 25.7341C6.27466 23.0273 4.6548 21.6739 5.07262 20.388C5.49044 19.1021 7.59644 18.9593 11.8084 18.6737L18.753 18.2028C19.9711 18.1202 20.5802 18.0789 21.046 17.7405C21.5118 17.402 21.7393 16.8355 22.1943 15.7025L24.7881 9.2434Z" fill="#FBBC04"/>
            <path d="M88.7881 9.2434C90.3613 5.3258 91.1479 3.36699 92.5 3.36699C93.8521 3.36699 94.6387 5.32579 96.2119 9.2434L98.8057 15.7025C99.2607 16.8355 99.4882 17.402 99.954 17.7405C100.42 18.0789 101.029 18.1202 102.247 18.2028L109.192 18.6737C113.404 18.9593 115.51 19.1021 115.927 20.388C116.345 21.6739 114.725 23.0273 111.486 25.7341L106.144 30.197C105.207 30.9798 104.739 31.3712 104.561 31.9188C104.383 32.4664 104.532 33.0584 104.83 34.2424L106.528 40.9926C107.558 45.0867 108.073 47.1338 106.979 47.9285C105.885 48.7233 104.097 47.6009 100.522 45.3562L94.6268 41.6552C93.5928 41.0061 93.0758 40.6815 92.5 40.6815C91.9242 40.6815 91.4072 41.0061 90.3732 41.6552L84.4781 45.3562C80.9027 47.6009 79.1149 48.7233 78.0211 47.9285C76.9272 47.1338 77.4422 45.0867 78.4722 40.9926L80.1703 34.2424C80.4682 33.0584 80.6171 32.4664 80.4392 31.9188C80.2613 31.3712 79.7928 30.9798 78.8559 30.197L73.5144 25.7341C70.2747 23.0273 68.6548 21.6739 69.0726 20.388C69.4904 19.1021 71.5964 18.9593 75.8084 18.6737L82.753 18.2028C83.9711 18.1202 84.5802 18.0789 85.046 17.7405C85.5118 17.402 85.7393 16.8355 86.1943 15.7025L88.7881 9.2434Z" fill="#FBBC04"/>
            <path d="M152.788 9.2434C154.361 5.3258 155.148 3.36699 156.5 3.36699C157.852 3.36699 158.639 5.32579 160.212 9.2434L162.806 15.7025C163.261 16.8355 163.488 17.402 163.954 17.7405C164.42 18.0789 165.029 18.1202 166.247 18.2028L173.192 18.6737C177.404 18.9593 179.51 19.1021 179.927 20.388C180.345 21.6739 178.725 23.0273 175.486 25.7341L170.144 30.197C169.207 30.9798 168.739 31.3712 168.561 31.9188C168.383 32.4664 168.532 33.0584 168.83 34.2424L170.528 40.9926C171.558 45.0867 172.073 47.1338 170.979 47.9285C169.885 48.7233 168.097 47.6009 164.522 45.3562L158.627 41.6552C157.593 41.0061 157.076 40.6815 156.5 40.6815C155.924 40.6815 155.407 41.0061 154.373 41.6552L148.478 45.3562C144.903 47.6009 143.115 48.7233 142.021 47.9285C140.927 47.1338 141.442 45.0867 142.472 40.9926L144.17 34.2424C144.468 33.0584 144.617 32.4664 144.439 31.9188C144.261 31.3712 143.793 30.9798 142.856 30.197L137.514 25.7341C134.275 23.0273 132.655 21.6739 133.073 20.388C133.49 19.1021 135.596 18.9593 139.808 18.6737L146.753 18.2028C147.971 18.1202 148.58 18.0789 149.046 17.7405C149.512 17.402 149.739 16.8355 150.194 15.7025L152.788 9.2434Z" fill="#FBBC04"/>
            <path d="M216.788 9.2434C218.361 5.3258 219.148 3.36699 220.5 3.36699C221.852 3.36699 222.639 5.32579 224.212 9.2434L226.806 15.7025C227.261 16.8355 227.488 17.402 227.954 17.7405C228.42 18.0789 229.029 18.1202 230.247 18.2028L237.192 18.6737C241.404 18.9593 243.51 19.1021 243.927 20.388C244.345 21.6739 242.725 23.0273 239.486 25.7341L234.144 30.197C233.207 30.9798 232.739 31.3712 232.561 31.9188C232.383 32.4664 232.532 33.0584 232.83 34.2424L234.528 40.9926C235.558 45.0867 236.073 47.1338 234.979 47.9285C233.885 48.7233 232.097 47.6009 228.522 45.3562L222.627 41.6552C221.593 41.0061 221.076 40.6815 220.5 40.6815C219.924 40.6815 219.407 41.0061 218.373 41.6552L212.478 45.3562C208.903 47.6009 207.115 48.7233 206.021 47.9285C204.927 47.1338 205.442 45.0867 206.472 40.9926L208.17 34.2424C208.468 33.0584 208.617 32.4664 208.439 31.9188C208.261 31.3712 207.793 30.9798 206.856 30.197L201.514 25.7341C198.275 23.0273 196.655 21.6739 197.073 20.388C197.49 19.1021 199.596 18.9593 203.808 18.6737L210.753 18.2028C211.971 18.1202 212.58 18.0789 213.046 17.7405C213.512 17.402 213.739 16.8355 214.194 15.7025L216.788 9.2434Z" fill="#FBBC04"/>
            <path d="M280.788 9.2434C282.361 5.3258 283.148 3.36699 284.5 3.36699C285.852 3.36699 286.639 5.32579 288.212 9.2434L290.806 15.7025C291.261 16.8355 291.488 17.402 291.954 17.7405C292.42 18.0789 293.029 18.1202 294.247 18.2028L301.192 18.6737C305.404 18.9593 307.51 19.1021 307.927 20.388C308.345 21.6739 306.725 23.0273 303.486 25.7341L298.144 30.197C297.207 30.9798 296.739 31.3712 296.561 31.9188C296.383 32.4664 296.532 33.0584 296.83 34.2424L298.528 40.9926C299.558 45.0867 300.073 47.1338 298.979 47.9285C297.885 48.7233 296.097 47.6009 292.522 45.3562L286.627 41.6552C285.593 41.0061 285.076 40.6815 284.5 40.6815C283.924 40.6815 283.407 41.0061 282.373 41.6552L276.478 45.3562C272.903 47.6009 271.115 48.7233 270.021 47.9285C268.927 47.1338 269.442 45.0867 270.472 40.9926L272.17 34.2424C272.468 33.0584 272.617 32.4664 272.439 31.9188C272.261 31.3712 271.793 30.9798 270.856 30.197L265.514 25.7341C262.275 23.0273 260.655 21.6739 261.073 20.388C261.49 19.1021 263.596 18.9593 267.808 18.6737L274.753 18.2028C275.971 18.1202 276.58 18.0789 277.046 17.7405C277.512 17.402 277.739 16.8355 278.194 15.7025L280.788 9.2434Z" fill="#FBBC04"/>
          </svg>
        </div>
        <h3 class="text-center">{{ section.settings.testimonial_Heading }}</h3>
      </div>
    </div>
    <div class="row testimonial_items">
      <div class="col-md-12 owl-carousel-testimonial owl-theme">
        {% for block in section.blocks %}
          <div class="container-fluid">
            <div class="item row">
              {% if block.settings.youtube_video != blank %}
                <div
                  class="col-md-5 yt-image"
                  data-video="{{ block.settings.youtube_video }}"
                  style="background-image: url('{{ block.settings.image | img_url : "" }}');background-size: cover;background-position: center;padding: 0px; cursor:pointer;"
                >
                  <div style="width:100%;height:100%;text-align:center;background-color:rgba(0, 0, 0, 0.4);position:relative;">
                    <svg
                      style="width: 100px;height: 100%;position:absolute;display:block;right: 0px; bottom: 0px; top: 0px;left: 0px;height:80px;width:80px;margin: auto;"
                      class="circle-fill"
                    >
                      <circle cx="41" cy="41" r="37" stroke="#fff" stroke-width="4" fill="none"></circle>
                      <polygon fill="none" stroke="#fff" stroke-width="4" points="32,25 32,58 60,42"></polygon>
                    </svg>
                  </div>
                </div>
              {% else %}
                <div
                  class="col-md-5"
                  style="background-image: url('{{ block.settings.image | img_url : "" }}');background-size: cover;background-position: center;"
                >&nbsp
                </div>
              {% endif %}

              <div class="col-md-7">
                <div class="inner_col">
                  <div class="user_col">
                    <div class="auth_name">
                      {% if block.settings.author != blank -%}
                        <h5>{{ block.settings.author }}</h5>
                      {%- endif %}
                      {% if block.settings.text != blank %}
                        <p>{{ block.settings.text }}</p>
                      {%- endif %}
                    </div>
                  </div>
                  <div class="review_col">
                    {% if block.settings.content != blank %}
                      <p>
                        <span class="Qoute left">
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="20"
                            height="36"
                            viewBox="0 0 20 36"
                            fill="none"
                          >
                            <path
                                d="M20 8.19802L19.5388 11.8504C18.3927 11.7624 17.5262 11.9971 16.9392 12.5545C16.3522 13.1118 15.9748 13.8746 15.8071 14.8427C15.6394 15.8108 15.5975 16.8816 15.6813 18.055H20V28H11.782V16.7349C11.782 13.6546 12.4948 11.337 13.9203 9.78218C15.3739 8.19802 17.4004 7.66997 20 8.19802ZM8.21803 8.19802L7.75681 11.8504C6.61076 11.7624 5.74424 11.9971 5.15723 12.5545C4.57023 13.1118 4.19287 13.8746 4.02516 14.8427C3.85744 15.8108 3.81551 16.8816 3.89937 18.055H8.21803V28H0V16.7349C0 13.6546 0.712788 11.337 2.13836 9.78218C3.59189 8.19802 5.61845 7.66997 8.21803 8.19802Z"
                                fill="#FF8266" />
                          </svg>
                        </span>
                        {{ block.settings.content }}
                        <span class="Qoute right">
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="20"
                            height="20"
                            viewBox="0 0 20 20"
                            fill="none"
                          >
                            <path
                                d="M0 19.802L0.461212 16.1496C1.60726 16.2376 2.47379 16.0029 3.0608 15.4455C3.6478 14.8882 4.02516 14.1254 4.19287 13.1573C4.36059 12.1892 4.40251 11.1184 4.31866 9.945H0L0 0L8.21803 0V11.2651C8.21803 14.3454 7.50524 16.663 6.07966 18.2178C4.62613 19.802 2.59958 20.33 0 19.802ZM11.782 19.802L12.2432 16.1496C13.3892 16.2376 14.2558 16.0029 14.8428 15.4455C15.4298 14.8882 15.8071 14.1254 15.9748 13.1573C16.1426 12.1892 16.1845 11.1184 16.1006 9.945L11.782 9.945V0H20L20 11.2651C20 14.3454 19.2872 16.663 17.8616 18.2178C16.4081 19.802 14.3816 20.33 11.782 19.802Z"
                                fill="#FF8266" />
                          </svg>
                        </span>
                      </p>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
    {% if section.settings.buttontext != blank %}
      <div class="testimonial_view_btn">
        <div class="button-right">
          <a class="button" href="{{section.settings.buttonurl}}">
            {{- section.settings.buttontext }}
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="7.166"
              height="12.535"
              viewBox="0 0 7.166 12.535"
            >
              <path id="Icon_ionic-ios-arrow-back" data-name="Icon ionic-ios-arrow-back"
                  d="M2.16,6.266,6.9,1.527A.9.9,0,0,0,5.635.262L.261,5.632A.894.894,0,0,0,.235,6.867l5.4,5.407A.9.9,0,1,0,6.9,11.009Z"
                  transform="translate(7.166 12.535) rotate(180)" fill="#fff" />
            </svg>
          </a>
        </div>
      </div>
    {% endif %}
  </div>
</section>

<script>
    $(document).ready(function(){
    	$('.owl-carousel-testimonial').owlCarousel({
      loop:true,
      nav:true,
      dots: true,
      responsive:{
          0:{
              items:1
          },
          600:{
              items:1
          },
          1000:{
              items:1
          }
      }
  })
    });
</script>
{% schema %}
 {
   "name": "Testimonials",
   "settings": [
	{
		"type":"textarea",
		"id":"testimonial_Heading",
		"label":"Heading"
	},
       {
		"type":"text",
		"id":"buttontext",
		"label":"Button"
	},
       {
		"type":"url",
		"id":"buttonurl",
		"label":"Button Url"
	},
     {
       "type": "range",
       "id": "Section_padding_top",
       "min": 20,
       "max": 200,
       "step": 10,
       "unit": "px",
       "label": "Section Padding Top",
       "default": 30
     },
     {
       "type": "range",
       "id": "Section_padding_bottom",
       "min": 20,
       "max": 200,
       "step": 10,
       "unit": "px",
       "label": "Section Padding Bottom",
       "default": 30
     },
     {
       "type": "color",
       "id": "Section_Background",
       "label": "Background Color",
       "default": "#ffffff"
     }
],
"blocks":[
     {
       "type":"testimonial",
       "name":"Testimonial",
       "settings":[
         {
           "type":"image_picker",
           "id":"image",
           "label":"Banner"
         },
	  {
		"type":"html",
		"id":"content",
		"label":"Content"
	  },
              {
		"type":"url",
		"id":"youtube_video",
		"label":"Youtube Video"
	},
	  {
		"type":"text",
		"id":"author",
		"label":"Author"
	  },
	  {
		"type":"text",
		"id":"text",
		"label":"Text"
	  }
       ]
     }
],
"presets":[
	{
		"name":"Testimoanil",
		"category":"testimonial"
	}
]
 }
{% endschema %}

            


{% javascript %}
{% endjavascript %}