

<div class="recently-viewed-wrapper clearfix page-width {{template.name}}">
   <div class="title-wrapper-with-link title-wrapper--no-top-margin">
        <h2 class="title clearfix">{{section.settings.heading}}</h2>
  </div>

  <div class="row">
    <ul class="recently-viewed-grid">
       
    <!-- Recently viewed products will appear here -->
    </ul>
  </div>
    
</div>

<script>
function setRecentlyViewedProducts() {
  const productData = {
    productTitle: "{{ product.title }}",
    productImg: "{{ product.featured_media | img_url: '300x' }}",
    productBeds: "{{ product.metafields.my_fields.bedrooms }}",
    productBath: "{{ product.metafields.my_fields.bathrooms}}",
    productArea: "{{ product.metafields.my_fields.area }}",
    productUrl: "{{ product.url }}",
    productId: "{{ product.id }}",
    productIndex: "{{ forloop.index }}",
    productJson:"{{ product.id | json }}",
    productVar:"{{ product.variants[0].id }}",
    productShop:"{{ shop.url }}",
    productImageAltText: "{{ product.featured_media.alt | escape }}"
  };
 




  
  const productList = [];
  let jsonResp, jsonRespArr, jsonRespArrStr;
  const numberOfProducts = 9;
  productList.push(productData);
  const currProductPageTitle = productData.productTitle;
  const productDataString = JSON.stringify(productList);
  const localData = localStorage.getItem("recentlyViewedProduct");

  if (localData === null) {
    localStorage.setItem("recentlyViewedProduct", productDataString);
  } else if (localData) {
    const oldProductData = localStorage.getItem("recentlyViewedProduct");
    const countProductData = (oldProductData.match(/productTitle/g) || []).length;
    const sameProduct = oldProductData.includes(currProductPageTitle);
    if (countProductData < numberOfProducts && sameProduct == false) {
      jsonResp = JSON.parse(oldProductData);
      jsonRespArr = jsonResp.concat(productList);
      jsonRespArrStr = JSON.stringify(jsonRespArr);
      localStorage.setItem("recentlyViewedProduct", jsonRespArrStr);
    } else if (countProductData >= numberOfProducts && sameProduct == false) {
      jsonResp = JSON.parse(oldProductData);
      jsonResp.shift();
      jsonRespArr = jsonResp.concat(productList);
      jsonRespArr = JSON.stringify(jsonRespArr);
      localStorage.setItem("recentlyViewedProduct", jsonRespArr);
    }
  }
}

setRecentlyViewedProducts();
const localViewed = localStorage.recentlyViewedProduct;
function getRecentlyViewedProducts() {
  const productData = JSON.parse(localStorage.getItem("recentlyViewedProduct"));
  const recentlyViewedHtml = [];
  productData.map(item => {
    recentlyViewedHtml.unshift(`
<li class="recently-viewed-grid-item" data-index="${item.productIndex}" data-attr="${item.productBeds}" data-id="${item.productId}">

<button data-with-epi="true" class="swym-button swym-add-to-wishlist-view-product product_${item.productId}" data-swaction="addToWishlist" data-product-id="${item.productJson}" data-variant-id="${item.productVar}" data-product-url="${item.productShop}${item.productUrl}}"></button>


      <a class="card__media-r" href="${item.productUrl}" test> 
		<img class="recently-viewed-img" src='${item.productImg}' loading="lazy" alt="${item.productImageAltText}"/>
      </a>
       <h3><a class="recently-viewed-a" href="${item.productUrl}">${item.productTitle}</a></h3>
     <div class="bathbes-info custom_info">
     <div class="bedroom-section">
            <div class="bed amti">
            <span class="bedroom-count">${item.productBeds}</span>
              <span class="bedroom_icon"> <svg id="Group_9700" data-name="Group 9700" xmlns="http://www.w3.org/2000/svg" width="21.899" height="16.424" viewBox="0 0 21.899 16.424">
  <g id="bed" transform="translate(0 0)">
    <g id="Group_29" data-name="Group 29">
      <path id="Path_39" data-name="Path 39" d="M20.986,73.378V65.825A1.827,1.827,0,0,0,19.162,64H2.737A1.827,1.827,0,0,0,.912,65.825v7.554A1.819,1.819,0,0,0,0,74.949v1.825A1.827,1.827,0,0,0,1.825,78.6v1.369a.456.456,0,0,0,.456.456h.912a.456.456,0,0,0,.408-.252L4.388,78.6H17.511l.786,1.573a.456.456,0,0,0,.408.252h.912a.456.456,0,0,0,.456-.456V78.6A1.827,1.827,0,0,0,21.9,76.774V74.949A1.819,1.819,0,0,0,20.986,73.378ZM1.825,65.825a.913.913,0,0,1,.912-.912H19.162a.913.913,0,0,1,.912.912v7.3H18.911c.055-.066.117-.122.168-.195a.454.454,0,0,0,0-.523A2.379,2.379,0,0,0,17.163,71.3h-3.3a2.379,2.379,0,0,0-1.916,1.107.454.454,0,0,0,0,.523c.051.073.113.128.168.195H9.786c.055-.066.117-.122.168-.195a.454.454,0,0,0,0-.523A2.379,2.379,0,0,0,8.038,71.3h-3.3A2.379,2.379,0,0,0,2.82,72.407a.454.454,0,0,0,0,.523c.051.073.113.128.168.195H1.825Zm16.293,6.843a1.332,1.332,0,0,1-.955.456h-3.3a1.332,1.332,0,0,1-.955-.456,1.332,1.332,0,0,1,.955-.456h3.3A1.332,1.332,0,0,1,18.118,72.668Zm-9.125,0a1.332,1.332,0,0,1-.955.456h-3.3a1.332,1.332,0,0,1-.955-.456,1.332,1.332,0,0,1,.955-.456h3.3A1.332,1.332,0,0,1,8.994,72.668ZM2.912,79.512H2.737V78.6h.631Zm16.25,0h-.175l-.456-.912h.631Zm1.825-2.737a.913.913,0,0,1-.912.912H1.825a.913.913,0,0,1-.912-.912V74.949a.913.913,0,0,1,.912-.912H20.074a.913.913,0,0,1,.912.912Z" transform="translate(0 -64)" fill="#b69b73"></path>
    </g>
  </g>
</svg></span></div>
            <div class="bed-title">
              <span class="bedroom-title">Bedrooms</span>
              </div>
              </div>

           <div class="bedroom-section">
            <div class="bath amti">
            <span class="bathroom-count">${item.productBath}</span>
            <span class="bedroom_icon"><svg xmlns="http://www.w3.org/2000/svg" width="22.449" height="22.452" viewBox="0 0 22.449 22.452">
  <g id="Group_9701" data-name="Group 9701" transform="translate(0.1 0.104)">
    <g id="bathtub">
      <path id="Path_32" data-name="Path 32" d="M21.135,10.382h-.742v-.371A1.113,1.113,0,0,0,19.281,8.9H14.09a1.113,1.113,0,0,0-1.112,1.112v.371H2.594V2.966a2.223,2.223,0,0,1,4.422-.333A2.227,2.227,0,0,0,5.19,4.82v.371a.371.371,0,0,0,.371.371H9.269a.371.371,0,0,0,.371-.371V4.82A2.226,2.226,0,0,0,7.765,2.625a2.966,2.966,0,0,0-5.912.341v7.416H1.111A1.11,1.11,0,0,0,.74,12.539v3.034a5.194,5.194,0,0,0,4.821,5.173v.39a1.112,1.112,0,1,0,2.225,0v-.371h6.675v.371a1.112,1.112,0,1,0,2.225,0v-.39a5.194,5.194,0,0,0,4.821-5.173V12.538a1.11,1.11,0,0,0-.371-2.156ZM8.9,4.82H5.932a1.483,1.483,0,0,1,2.966,0ZM18.91,10.382v-.371a.371.371,0,0,1,.742,0v.371Zm-5.191-.371a.371.371,0,0,1,.371-.371h4.147a1.1,1.1,0,0,0-.068.371V14.09H14.831a.371.371,0,0,0,0,.742h3.337v.742h-4.45ZM7.044,21.136a.371.371,0,1,1-.742,0v-.371h.742Zm8.9,0a.371.371,0,1,1-.742,0v-.371h.742Zm.371-1.112H5.932a4.455,4.455,0,0,1-4.45-4.45V12.607h9.641a.371.371,0,1,0,0-.742H1.111a.362.362,0,0,1-.264-.113.356.356,0,0,1-.107-.258.371.371,0,0,1,.371-.371H12.977v4.45a.739.739,0,0,0,.371.639v.845a.371.371,0,1,0,.742,0v-.742h.742v.742a.371.371,0,1,0,.742,0v-.742h.742v.742a.371.371,0,0,0,.742,0v-.742H17.8v.742a.371.371,0,1,0,.742,0v-.845a.739.739,0,0,0,.371-.638V12.607h1.854v2.966a4.455,4.455,0,0,1-4.45,4.45Zm4.821-8.158H18.91v-.742h2.225a.363.363,0,0,1,.264.114.356.356,0,0,1,.106.257A.371.371,0,0,1,21.135,11.865Zm0,0" transform="translate(0.001 0.001)" fill="#b69b73" stroke="#f0e3d0" stroke-width="0.2"></path>
      <path id="Path_33" data-name="Path 33" d="M162.874,145.438a.371.371,0,0,0-.742,0v.371a.371.371,0,0,0,.742,0Zm0,0" transform="translate(-155.087 -138.763)" fill="#b69b73" stroke="#f0e3d0" stroke-width="0.2"></path>
      <path id="Path_34" data-name="Path 34" d="M162.5,187.73a.371.371,0,0,0-.371.371v.371a.371.371,0,0,0,.742,0V188.1A.371.371,0,0,0,162.5,187.73Zm0,0" transform="translate(-155.087 -179.572)" fill="#b69b73" stroke="#f0e3d0" stroke-width="0.2"></path>
      <path id="Path_35" data-name="Path 35" d="M132.633,135.414l-.26.265a.371.371,0,1,0,.53.519l.26-.265a.371.371,0,0,0-.53-.519Zm0,0" transform="translate(-126.519 -129.423)" fill="#b69b73" stroke="#f0e3d0" stroke-width="0.2"></path>
      <path id="Path_36" data-name="Path 36" d="M102.766,165.886l-.26.265a.371.371,0,1,0,.53.519l.26-.265a.371.371,0,0,0-.53-.519Zm0,0" transform="translate(-97.95 -158.571)" fill="#b69b73" stroke="#f0e3d0" stroke-width="0.2"></path>
      <path id="Path_37" data-name="Path 37" d="M186.14,135.41a.371.371,0,0,0-.005.525l.26.265a.371.371,0,1,0,.53-.519l-.26-.265a.371.371,0,0,0-.525-.005Zm0,0" transform="translate(-177.945 -129.424)" fill="#b69b73" stroke="#f0e3d0" stroke-width="0.2"></path>
      <path id="Path_38" data-name="Path 38" d="M216,166.409l.26.265a.371.371,0,1,0,.53-.519l-.26-.265a.371.371,0,0,0-.53.519Zm0,0" transform="translate(-206.509 -158.574)" fill="#b69b73" stroke="#f0e3d0" stroke-width="0.2"></path>
    </g>
  </g>
</svg></span></div>
            <div class="bed-title">
              <span class="bedroom-title">Bathrooms</span>
              </div>
            </div>

             <div class="bedroom-section">
            <div class="area amti">
            <span class="area_squreft">${item.productArea}</span>
              <span class="bedroom_icon"> <svg xmlns="http://www.w3.org/2000/svg" width="19.501" height="19.501" viewBox="0 0 19.501 19.501">
  <g id="Group_9702" data-name="Group 9702" transform="translate(-65.634 -7.223)">
    <g id="Group_9703" data-name="Group 9703" transform="translate(65.634 7.223)">
      <g id="box-arrow-up-right" transform="translate(5.959 5.959)">
        <path id="Path_2928" data-name="Path 2928" d="M3.375,10.563a.938.938,0,0,0,.938.938h5a.938.938,0,0,0,.938-.937v-2.5a.313.313,0,0,0-.625,0v2.5a.313.313,0,0,1-.313.313h-5A.313.313,0,0,1,4,10.563v-5a.313.313,0,0,1,.313-.313h2.5a.313.313,0,1,0,0-.625h-2.5a.938.938,0,0,0-.938.938ZM7.75,3.688a.313.313,0,0,1,.313-.313h3.125a.313.313,0,0,1,.313.313V6.813a.313.313,0,1,1-.625,0V4H8.063A.312.312,0,0,1,7.75,3.688Z" transform="translate(-3.375 -3.375)" fill="#b69b73" fill-rule="evenodd"></path>
        <path id="Path_2929" data-name="Path 2929" d="M17.907,3.465a.313.313,0,0,1,0,.443l-5,5a.313.313,0,1,1-.443-.443l5-5a.312.312,0,0,1,.443,0Z" transform="translate(-9.874 -3.373)" fill="#b69b73" fill-rule="evenodd"></path>
      </g>
      <g id="fullscreen">
        <path id="Path_2932" data-name="Path 2932" d="M1.828,1.219a.609.609,0,0,0-.609.609V6.7A.609.609,0,1,1,0,6.7V1.828A1.828,1.828,0,0,1,1.828,0H6.7a.609.609,0,1,1,0,1.219ZM12.188.609A.609.609,0,0,1,12.8,0h4.875A1.828,1.828,0,0,1,19.5,1.828V6.7a.609.609,0,1,1-1.219,0V1.828a.609.609,0,0,0-.609-.609H12.8A.609.609,0,0,1,12.188.609ZM.609,12.188a.609.609,0,0,1,.609.609v4.875a.609.609,0,0,0,.609.609H6.7a.609.609,0,1,1,0,1.219H1.828A1.828,1.828,0,0,1,0,17.673V12.8a.609.609,0,0,1,.609-.609Zm18.282,0a.609.609,0,0,1,.609.609v4.875A1.828,1.828,0,0,1,17.673,19.5H12.8a.609.609,0,1,1,0-1.219h4.875a.609.609,0,0,0,.609-.609V12.8A.609.609,0,0,1,18.892,12.188Z" transform="translate(0 0)" fill="#b69b73" fill-rule="evenodd"></path>
      </g>
    </g>
  </g>
</svg></span></div>
            <div class="bed-title">
              <span class="bedroom-title">Squre Ft</span>
              </div>
              </div>


</div>
    </li>
   `);
  });
  const newProductData = `${recentlyViewedHtml.join("")}`;
  const fullContent = document.getElementsByClassName("recently-viewed-grid");
  fullContent[0].innerHTML = newProductData;
}

document.addEventListener("DOMContentLoaded", function (event) {
  getRecentlyViewedProducts();
});
  

  

</script>

<script>


 $( document ).ready(function() {
   var dat_att= $('.recently-viewed-grid-item').attr('data-id');
   if (dat_att == ''){
   $('.clearfix').hide();
   $('li.recently-viewed-grid-item').hide();
   }else{
    $('.clearfix').show();
   $('li.recently-viewed-grid-item').show();
   
   }
   
 
   

   });
 </script> 

<script>
$( document ).ready(function() {
$('.loop').owlCarousel({
    loop:true, 
    nav:false,
    dots: false,
    responsive:{
        0:{
            items:1,
            stagePadding: 40,
            margin:10
        },
        640:{
            items:1,
            margin:10,
            stagePadding: 60
        },
       990:{
            items:3,
            stagePadding: 80,
            margin:20
        },  
        1100:{ 
            items:4,
            stagePadding: 0,
            loop:false,
            touchDrag: false,
            mouseDrag: false,
            margin:20
        }
    }
})
});

</script>



<style>

.recently-viewed-wrapper{
  margin: 1rem auto;
}
.recently-viewed-img {
  width: 100%;
}
.recently-viewed-grid {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(min(100%, 260px), 1fr));
  list-style: none;
  margin:0; 
  padding: 0;
}    
.recently-viewed-grid-item {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.recently-viewed-a {
  text-decoration: none;
  color: black;
}
  
  /* new clearfix */
.clearfix:after {
visibility: hidden;
display: block;
font-size: 0;
content: " ";
clear: both;
height: 0;
}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */
    
</style>





{% schema %}
  {
    "name": "Recent-Viewed",
    "settings": [
{
"type":"text",
"id":"heading",
"label":"Heading"

}

]
,
"presets":[
{
"name":"Recent-Viewed",
"category":"custom"
}

]
  }
{% endschema %}

